# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

.DS_Store
/dist/*
# Log files
*.log


#ignore macos files
.DS_Store
#ignore vscode files
.vscode
#ignore phpstorm files
.idea
#ignore node_modules
node_modules

#Ignore zip files
*.zip